/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]:focus,
    input[type=number]:focus-visible{
   outline:none;
}

input[type=text]:focus,
    input[type=text]:focus-visible{
   outline:none;
}

input[type=email]:focus,
    input[type=email]:focus-visible{
   outline:none;
}


#non-scroll::-webkit-scrollbar{
  display: none;
}


div::-webkit-scrollbar{
  display: none;
}